* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}



.container {
    display: grid;
    grid-template-rows: auto;
}

.titolo {
    padding: 20px;
    background-color: #1B2430;
    color: white;
    font-weight: 700;
}

.area-citazioni {
    margin: auto;
    /* background-color: red; */
}

.subtitles {
    margin: 20px auto 10px;

}

.quote {
    padding: 20px;
    width: 400px;
    text-align: center;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}

.quote > * {
    padding: 5px;
    /* background-color: red; */
}

.the_quote {
    font-style: italic;
    font-weight: 500;
    text-align: left;
    font-family: Stoic Script;
}

.autore {
    font-size: small;
    text-align: right;
    font-family: Lobster;
}

.q_one {
    background-color: #51557E;
}

.q_two {
    background-color: #816797;
}

.q_three {
    background-color: #98986f;
}